
#navbar{
    background-attachment: fixed ;
}

.nav-item{
    font-size:medium;
}
#img1{
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.081);
}
#login{
    border:1px solid  grey;


}
#jk{
    
    border: 1px solid rgb(233, 214, 214);
}
button{
    border
    background-color: gray;
}
li{
    padding: 28px;

}
/* #img2{
    background-image: url(./projectPhotes/product-2-1.jpg);
} */


/* 
#img2:hover{
background-image: url(./projectPhotes/product-2-2.jpg);
} */


.product-img .real-img{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.4s ease-out;
}

.product:hover .real-img{
opacity: 1;
z-index: 0;

}