
.nav-item{
    font-size:medium;
}
#login{
    border:1px solid  grey;


}
#jk{
    
    border: 1px solid;
}
button{
    border
    background-color: gray;
}
li{
    padding: 28px;

}
.img1:hover{
    transform:translate(100px);
}
@media screen {
    
}